
@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html{height:100%;}
html {scrollbar-3dLight-Color: #fff; scrollbar-arrow-color: #333; scrollbar-base-color: #fff; scrollbar-Face-Color: #dfdfdf; scrollbar-Track-Color: #fff; scrollbar-DarkShadow-Color: #fff; scrollbar-Highlight-Color: #fff; scrollbar-Shadow-Color: #fff}

body {
	margin:0;
	padding:0;
	font-size:12px;
	font-family: 'Noto Sans KR', sans-serif;
	color:#454545;
	height:100%;
	width:100%;
	min-width:100%;
	line-height:24px;
	-webkit-font-smoothing: antialiased;
}


a:link, a:visited {color:#000000; text-decoration: none;}
a:hover, a:focus, a:active {text-decoration:none;}

ul, dl, ol , dt, dd, h1, h2, h3, h4, p {margin:0px; padding:0px;}
ul, ol, li {list-style-type:none;}

img {border:0 none;}

em {font-style:normal;}
button { border:none; padding:0; margin:0; background:none; cursor:pointer;}

textarea, input, table, select {font-family:'Noto Sans KR', sans-serif;}
fieldset {display:block; margin:0; padding:0; border:0;}
legend {display:none; position:absolute; visibility:hidden; width:0; height:0; overflow:hidden; font:0/0 arial;}
form {margin:0px; padding:0px;}
textarea {font-size:12px; padding:3px; border:1px solid #bbb; resize:none; color:#505050; -webkit-appearance:none;}
.file_input_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input_img_btn {padding:0 0 0 5px; }
.file_input_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input01_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input01_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input01_img_btn {padding:0 0 0 5px;}
.file_input01_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input02_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input02_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input02_img_btn {padding:0 0 0 5px;}
.file_input02_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input03_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input03_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input03_img_btn {padding:0 0 0 5px;}
.file_input03_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input04_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input04_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input04_img_btn {padding:0 0 0 5px;}
.file_input04_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input05_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input05_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input05_img_btn {padding:0 0 0 5px;}
.file_input05_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input06_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input06_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input06_img_btn {padding:0 0 0 5px;}
.file_input06_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input07_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input07_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input07_img_btn {padding:0 0 0 5px;}
.file_input07_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}
.file_input08_textbox {float:left; font-size:12px; height:22px; width:180px; border:1px solid #c0c0c0; border-radius:4px; color:#858585}
.file_input08_div {position:relative; width:250px; height:30px; overflow:hidden;}
.file_input08_img_btn {padding:0 0 0 5px;}
.file_input08_hidden {font-size:25px; position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0); -ms-filter: alpha(opacity=0); cursor:pointer;}

textarea{border-radius:4px;}
input.inputTxt {height:23px; font-size:12px; padding:0 3px 0 3px; line-height:18px; border:1px solid #c0c0c0; color:#333; border-radius:4px}
input.btns {height:25px;  border-radius:4px; background:#eaeaea; border:1px solid #bbb; font-size:12px; color:#000; cursor:pointer}
input.btns01 {height:25px;  border-radius:4px; background:#61646c; border:1px solid #61646c; font-size:12px; color:#fff; cursor:pointer}
input.btns02 {height:25px;  border-radius:4px; background:#3d3f44; border:1px solid #3d3f44; font-size:12px; color:#fff; cursor:pointer}
input.btnsr {height:25px;  border-radius:4px; background:#ea5b5d; border:1px solid #de4345; font-size:12px; color:#fff; cursor:pointer}
input.btnsb {height:25px;  border-radius:4px; background:#2a69b0; border:1px solid #165091; font-size:12px; color:#fff; cursor:pointer}
input.btnm {height:29px;  border-radius:4px; background:#3d3f44; border:1px solid #3d3f44; padding:0 10px; font-size:12px; color:#ddd; cursor:pointer}
input.btnmb {height:29px;  border-radius:4px; background:#2a69b0; border:1px solid #2a69b0; padding:0 10px; font-size:12px; color:#efefef; cursor:pointer}
input.btnm01 {height:29px;  border-radius:4px; background:#eaeaea; border:1px solid #bbb; font-size:12px; color:#000; padding:0 10px; cursor:pointer}
input.btn01 {height:35px; background:#91969c; font-size:14px; border:1px solid #91969c; color:#ffffff; cursor:pointer; padding:0 20px; border-radius:4px}
input.btn02 {height:35px; background:#2d2f33; font-size:14spx; border:1px solid #2d2f33; color:#ffffff; cursor:pointer; padding:0 20px; border-radius:4px}

select {height:26px; font-size:12px; padding:1px; line-height:20px; border:solid 1px #bbb; color:#505050; font:12px; border-radius:4px; background:#fff url(../img/select.gif) no-repeat 98% 50%; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
select::-ms-expand { display: none;}
input.chk {width:13px; height:13px; margin:-3px 0 0 2px; #margin:-2px 0 0; vertical-align:middle;}
input.rdo {width:13px; height:13px; margin:-3px 2px 0 0; #margin:-2px 0 0; vertical-align:middle;}

table {clear:both; width:100%; border-collapse:collapse; border-spacing:0; word-break:break-all; word-wrap:break-word;}
caption {visibility:hidden; margin:0; padding:0; width:0; height:0; overflow:hidden; font:0/0 arial;}

.clfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;}
.clfix {display: inline-block;}
.clfix {display: block;}
* html .clfix {height: 1%;} /* hides from ie-mac */
.clfix{ zoom:1; } /*for ie 5.5-7*/

/* padding */
.pd0 {padding:0 !important;}
.pdt0 {padding-top:0 !important;}
.pdb0 {padding-bottom:0 !important;}
.pdl0 {padding-left:0 !important;}
.pdr0 {padding-right:0 !important;}
.pdr60 {padding-right:60px !important;}
.pdt20 {padding-top:20px !important;}
.pdt50 {padding-top:50px !important;}
.pdt70 {padding-top:70px !important;}
.pdl10 {padding-left:10px !important;}
.pdb10 {padding-bottom:10px !important;}


/* margin */
.mg0 {margin:0 !important;}
.mgt0 {margin-top:0 !important;}
.mgb0 {margin-bottom:0 !important;}
.mgl0 {margin-left:0 !important;}
.mgr0 {margin-right:0 !important;}

.mgt70 {margin-top:70px !important;}
.mgt40 {margin-top:40px !important;}
.mgt30 {margin-top:30px !important;}
.mgt10 {margin-top:10px !important;}
.mgt3 {margin-top:3px !important;}

.mgb30 {margin-bottom:30px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb10 {margin-bottom:10px !important;}
.mgr10 {margin-right:10px !important;}
.mgr15 {margin-right:15px !important;}
.mgr60 {margin-right:60px !important;}
.mglm15 {margin-left:-30px !important;}

.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl33 {margin-left:33px !important;}
.mgl50 {margin-left:50px !important;}


/* float */
.fnone {float:none !important;}
.fl {float:left !important;}
.fr {float:right !important;}
.cboth {clear:both;}

/* color */
.fc333 {color:#333 !important;}
.fc444 {color:#444 !important;}
.fc888 {color:#888 !important;;}
.c35{color:#353535}
.redtxt{color:#ba131a}
.predtxt{color:#ea5b5d}

/* font size */
.fsn {font-size:12px !important;}
.fss {font-size:11px !important;}

/* font weight */
.fwn {font-weight:normal !important;}
.fwb {font-weight:bold !important;}

/* line-height */
.lh18 {line-height:18px !important;}

/* align */
.vat {vertical-align:top !important;}
.vam {vertical-align:middle !important;}
.vab {vertical-align:bottom !important;}
.agl {text-align:left !important;}
.agc {text-align:center !important;}
.agr {text-align:right !important;}
.vmAll * {vertical-align:middle !important;}
.vtAll * {vertical-align:top !important;}
.zf{z-index:10;}
.zb{z-index:0;}

/* none */
.hidden {display:none;}
.blind {overflow:hidden; position:absolute; top:0; left:-3000px; width:1%; height:1%; line-height:1%; font-size:1%;}
.bon {border:0 !important; background:#fff}
.botn {border-top:0 !important;}
.bobn {border-bottom:0 !important;}
.bgn {background:none !important;}

 /* paging */
.paging {padding:30px 0 0; text-align:center;}
.paging img {margin:0 0 -5px 0;}
.paging span {margin:0 4px 0 0;}
.paging span a {padding:0 4px 0 7px; color:#636262; font-size:13px;}
.paging span strong {color:#000;}